<h1 class="ion-no-margin ion-text-center">Reset Password</h1>
<p class="ion-margin-top ion-text-center">
  Enter the new password for your account.
</p>
{{ code }}
<form [formGroup]="form" class="form ion-margin-top">
  <ion-item>
    <ion-input
      formControlName="password"
      type="Password"
      label="Password"
      labelPlacement="floating"
    ></ion-input>
  </ion-item>

  <ion-button
    (click)="confirmPasswordReset()"
    class="ion-margin-top"
    color="primary"
    size="block"
    [disabled]="form.invalid"
  >
    Save password
  </ion-button>
</form>
