<h1 class="ion-no-margin ion-text-center">Forgot Password?</h1>
<p class="ion-margin-top ion-text-center">
  Enter the email address you used to create your account. We’ll send a password
  reset email.
</p>
<form [formGroup]="form" class="form ion-margin-top">
  <ion-item>
    <ion-input
      formControlName="email"
      type="email"
      label="Email"
      labelPlacement="floating"
    ></ion-input>
  </ion-item>

  <ion-button
    (click)="sendPasswordResetEmail()"
    class="ion-margin-top"
    color="primary"
    size="block"
    [disabled]="form.invalid"
  >
    Send reset email
  </ion-button>
</form>
