<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      [disabled]="!user()"
      class="menu"
    >
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-label>
              <h1 class="title">AIllusion</h1>
              <p class="label">Perfect girls</p>
            </ion-label>
          </ion-list-header>

          <ion-menu-toggle
            *ngFor="let page of pages; let i = index"
            auto-hide="false"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[page.url]"
              routerLinkActive="selected"
              lines="none"
              detail="false"
              button
              class="menu-item"
            >
              <ion-icon slot="start" [name]="page.icon + '-outline'"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              (click)="signOut()"
              lines="none"
              detail="false"
              button
              class="menu-item"
            >
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
