:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--ion-color-tertiary-contrast);
  background: var(--ion-color-tertiary)
    url(https://cdn.vectorstock.com/i/500p/82/89/pink-abstract-background-vector-42948289.avif);
  background-size: cover;
}

.title {
  font-size: 64px;
}

.text {
  font-size: 32px;
}
