<ion-content class="ion-padding-top">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-lg="6" size="12" class="ion-flex ion-direction-column">
        <app-auth-teaser></app-auth-teaser>
      </ion-col>

      <ion-col
        size-lg="6"
        size="12"
        class="ion-flex ion-direction-column ion-align-items-center ion-justify-content-center"
      >
        <h1>Log In</h1>
        <form [formGroup]="form" class="form">
          <ion-item>
            <ion-input
              formControlName="email"
              label="Email"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              formControlName="password"
              type="Password"
              label="Password"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>

          <ion-button
            (click)="signIn()"
            class="ion-margin-top"
            color="primary"
            size="block"
            [disabled]="form.invalid"
          >
            Log in
          </ion-button>

          <ion-button
            [routerLink]="signUpUrl"
            routerDirection="root"
            class="ion-margin-top"
            color="primary"
            fill="clear"
            size="block"
          >
            Create a new account
          </ion-button>

          <app-auth-socials class="ion-margin-top"></app-auth-socials>
        </form>
      </ion-col>
      <ion-col size="12" class="ion-flex ion-direction-column">
        <app-auth-slider></app-auth-slider>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
