<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col size-xl="8" size-lg="7" size="12" class="ion-hide-lg-down">
        <app-auth-teaser></app-auth-teaser>
      </ion-col>

      <ion-col
        size-xl="4"
        size-lg="5"
        size="12"
        class="ion-flex ion-direction-column ion-align-items-center ion-padding"
      >
        <h1 class="ion-no-margin">Log In</h1>
        <form [formGroup]="form" class="form ion-margin-top">
          <ion-item>
            <ion-input
              formControlName="email"
              label="Email"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              formControlName="password"
              type="Password"
              label="Password"
              labelPlacement="floating"
            ></ion-input>
          </ion-item>

          <ion-button
            (click)="signIn()"
            class="ion-margin-top"
            color="primary"
            size="block"
            [disabled]="form.invalid"
          >
            Log in
          </ion-button>

          <ion-button
            [routerLink]="userServiceUrl"
            [queryParams]="passwordRecoverQueryParams"
            routerDirection="root"
            class="ion-margin-top"
            color="primary"
            fill="clear"
            size="block"
          >
            Fogot password?
          </ion-button>

          <ion-button
            [routerLink]="signUpUrl"
            routerDirection="root"
            color="primary"
            fill="clear"
            size="block"
          >
            Create a new account
          </ion-button>

          <app-auth-socials class="ion-margin-top"></app-auth-socials>
        </form>
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <app-auth-slider></app-auth-slider>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
